{% extends "base.html" %}

{% block title %}Confirm notification subscription - {{ block.super }}{% endblock %}

{% block navbar_title%}Confirm notification subscription{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
          <div class="box-body">
            <p>This notification subscription has already been confirmed.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
