{% extends "base.html" %}
{% load opencve_extras %}
{% load crispy_forms_tags %}

{% block content %}

<section class="content-header">
    <h1>
        Dashboard
        {% if user.settings.activities_view == 'subscriptions' %}
        <small class="label label-default"><i class="fa fa-filter"></i> subscriptions</small>
        {% endif %}
    </h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">OpenCVE</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">

    <div class="row">

        <div class="col-md-7">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Projects Activity Feed</h3>
                </div>
                <div class="box-body">
                    {% if not changes %}
                    <p class="alert alert-info">No changes available.</p>
                    {% else %}
                    <ul class="timeline timeline-inverse">
                        {% for change in changes %}
                        <li class="time-label">
                            {% ifchanged change.created_at|date:"d b Y" %}
                            <span class="bg-blue bg-opencve">
                                {{ change.created_at|date:"d b Y" }}
                            </span>
                            {% endifchanged %}
                        </li>

                        <li>
                            {% if change.events.all|is_new_cve %}
                            <i class="fa fa-plus bg-red"></i>
                            {% else %}
                            <i class="fa fa-edit bg-blue"></i>
                            {% endif %}
                            <div class="timeline-item">
                                <span class="time" title="{{ change.created_at|date:'d b Y, H:i' }}"><i class="fa fa-clock-o"></i> {{ change.created_at|date:"H:i" }}</span>
                                <h3 class="timeline-header"><a href="{% url 'cve' cve_id=change.cve.cve_id %}">{{ change.cve.cve_id }}</a> <i>{% if change.events.all|is_new_cve %}is a new CVE{% else %}has changed{% endif %}</i> <a href="{% url 'change' cve_id=change.cve.cve_id id=change.id %}" class="btn-json-diff" data-toggle="tooltip" data-container="body" title="View the change details"><i class="fa fa-code"></i></a></h3>
                                <div class="timeline-body">
                                    <p>{{ change.cve.summary }}</p>
                                    {% if not change.events.all|is_new_cve %}
                                    <div class="box-group" id="{{ change.id }}">
                                        {% for event in change.events.all %}
                                        <div class="panel box box-changes">
                                            <div class="box-header">
                                                <h4 class="box-title">{{ event.get_type_display }}
                                                <span class="box-meta">{{ event.details|event_excerpt|safe }}</span>
                                                </h4>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                        {% endfor %}

                    </ul>
                    {% endif %}

                    {% if changes %}
                    <div class="center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li class="previous"><a href="{% url 'home'%}?{% query_params_url 'page' page_obj.previous_page_number %}">« prev </a></li>
                            {% endif %}
                            {% if page_obj.has_next %}
                                <li class="previous"><a href="{% url 'home'%}?{% query_params_url 'page' page_obj.next_page_number %}">next »</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">List of Projects</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        {% if projects %}
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="center">Subscriptions</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td class="center">{{ project.subscriptions_count }}</td>
                                <td class="pull-right">
                                    <a href="{% url 'project' name=project.name %}" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p class="alert alert-info">You have no project yet. <a href="{% url 'create_project' %}">Create a new one?</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Latest Reports</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th class="center">Changes</th>
                                <th>Vendors & Products</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Apr 12 '23 at 07:36</td>
                                <td class="center">8</td>
                                <td>Cisco</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Apr 12 '23 at 04:40</td>
                                <td class="center">7</td>
                                <td>Cisco, Google, Linux and 1 more</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">8</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">8</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">19</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">19</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">19</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>May 06 '23 at 20:08	</td>
                                <td class="center">19</td>
                                <td>Linux, Microsoft</td>
                                <td class="pull-right">
                                    <a href="#" class="btn btn-default btn-xs">View</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}