{% extends "base.html" %}

{% block title %}
{% if vendor %}
{{ vendor.name | humanize }}
{% if product %}
- {{ product.name | humanize }}
{% endif %}
CVE
{% elif request.args.get('cwe') %}
CWE-{{ request.args.get('cwe') }} CVE
{% else %}
Vulnerabilities (CVE)
{% endif %}
- {{ super() }}
{% endblock %}

{% block content %}

<section class="content-header">
    <h1>Vulnerabilities (CVE)</h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.home') }}">OpenCVE</a></li>
        <li class="active">Vulnerabilities (CVE)</li>
    </ol>
</section>

<section class="content">
    {% if request.args.get('cwe') %}
    <div class="row">
        <div class="col-xs-6">
            <div class="box box-info">
                <div class="box-header">
                    <div class="box-title"><i class="fa fa-filter"></i> Filtered by {{ request.args.get('cwe') }}
                    </div>
                    <div class="box-tools pull-right">
                        <a type="button" class="btn btn-box-tool" data-toggle="remove"
                           href="{{ url_for('main.cves', cvss=request.args.get('cvss')) }}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% elif vendor or product %}
    <div class="row">
        {% if vendor %}
        <div class="col-sm-12 col-lg-6">
            <div class="box box-info">
                <div class="box-header">
                    <div class="box-title">
                        Filtered by vendor <strong>{{ vendor.name | humanize }}</strong>
                        {% if current_user.is_authenticated %}
                        {% if vendor in current_user.vendors %}
                        <button class="btn btn-danger btn-sm subscribe" id="unsubscribe_vendor_{{ vendor.id }}"
                                type="button">Unsubscribe
                        </button>
                        {% else %}
                        <button class="btn btn-default btn-sm subscribe" id="subscribe_vendor_{{ vendor.id }}"
                                type="button">Subscribe
                        </button>
                        {% endif %}
                        {% else %}
                        <button class="btn btn-default btn-sm" href="{{ url_for('user.login', next=request.url) }}"
                                data-toggle="tooltip" data-container="body" title="You must be signed in to subscribe">
                            Subscribe
                        </button>
                        {% endif %}
                    </div>
                    <div class="box-tools pull-right">
                        <a type="button" class="btn btn-box-tool" data-toggle="remove"
                           href="{{ url_for('main.cves', cvss=request.args.get('cvss')) }}"><i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% if product %}
        <div class="col-sm-12 col-lg-6">
            <div class="box box-info">
                <div class="box-header">
                    <div class="box-title">
                        Filtered by product <strong>{{ product.name | humanize }}</strong>
                        {% if current_user.is_authenticated %}
                        {% if product in current_user.products %}
                        <button class="btn btn-danger btn-sm subscribe" id="unsubscribe_product_{{ product.id }}"
                                type="button">Unsubscribe
                        </button>
                        {% else %}
                        <button class="btn btn-default btn-sm subscribe" id="subscribe_product_{{ product.id }}"
                                type="button">Subscribe
                        </button>
                        {% endif %}
                        {% else %}
                        <button class="btn btn-default btn-sm subscribe"
                                href="{{ url_for('user.login', next=request.url) }}" data-toggle="tooltip"
                                data-container="body" title="You must be signed in to subscribe">Subscribe
                        </button>
                        {% endif %}
                    </div>
                    <div class="box-tools pull-right">
                        <a type="button" class="btn btn-box-tool" data-toggle="remove"
                           href="{{ url_for('main.cves', cvss=request.args.get('cvss'), vendor=request.args.get('vendor')) }}"><i
                                class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">CVSS v3 Filter</h3>
                </div>
                <div class="box-body">
                    <div class="btn-group">
                        <a class="btn btn-default {% if not request.args.get('cvss') %}btn-primary{% endif %}"
                           href="{{ url_for('main.cves', vendor=request.args.get('vendor'), product=request.args.get('product'), search=request.args.get('search'), cwe=request.args.get('cwe')) }}">ALL</a>
                        <a class="btn btn-default {% if request.args.get('cvss') == 'low' %}btn-primary{% endif %}"
                           href="{{ url_for('main.cves', cvss='low', vendor=request.args.get('vendor'), product=request.args.get('product'), search=request.args.get('search'), cwe=request.args.get('cwe')) }}"
                           type="button">LOW (0 - 3.9)</a>
                        <a class="btn btn-default {% if request.args.get('cvss') == 'medium' %}btn-primary{% endif %}"
                           href="{{ url_for('main.cves', cvss='medium', vendor=request.args.get('vendor'), product=request.args.get('product'), search=request.args.get('search'), cwe=request.args.get('cwe')) }}"
                           type="button">MEDIUM (4.0 - 7.4)</a>
                        <a class="btn btn-default {% if request.args.get('cvss') == 'high' %}btn-primary{% endif %}"
                           href="{{ url_for('main.cves', cvss='high', vendor=request.args.get('vendor'), product=request.args.get('product'), search=request.args.get('search'), cwe=request.args.get('cwe')) }}"
                           type="button">HIGH (7.5 - 10)</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Search</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                    <span class="input-group-btn">
                    <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                    </span>
                        <form method="GET">
                            <input type="text" placeholder="Search" class="form-control" name="search"
                                   value="{% if request.args.get('search') %}{{ request.args.get('search') }}{% endif %}">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="info-box">
                <span class="info-box-icon bg-primary"><i class="fa fa-shield"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total</span>
                    <span class="info-box-number">{{ cves.total }} CVE</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-md-12'>
            {% if cves.items %}
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table">
                        <thead>
                        <th>CVE</th>
                        <th>Vendors</th>
                        <th>Products</th>
                        <th class="text-center">Updated</th>
                        <th class="text-center">CVSS v2</th>
                        <th class="text-center">CVSS v3</th>
                        </thead>
                        {% for cve in cves.items %}
                        <tr>
                            <td class="col-md-2"><a href="{{ url_for('.cve', cve_id=cve.cve_id) }}"><strong>{{
                                cve.cve_id }}</strong></a></td>
                            <td class="col-md-3">{{ cve.vendors|vendors_excerpt|safe }}</td>
                            <td class="col-md-3">{{ cve.vendors|products_excerpt|safe }}</td>
                            <td class="col-md-2 text-center">{{ cve.updated_at.strftime('%Y-%m-%d') }}</td>
                            {% if cve.json.impact.baseMetricV2 %}
                            <td class="col-md-1 text-center"><span
                                    class="label {{ cvss_bg(cve.json.impact.baseMetricV2.cvssV2.baseScore)[2] }}">{{ cve.json.impact.baseMetricV2.cvssV2.baseScore }} {{ cve.json.impact.baseMetricV2.severity }}</span>
                            </td>
                            {% else %}
                            <td class="col-md-1 text-center"><span class="label label-default">N/A</span></td>
                            {% endif %}
                            {% if cve.json.impact.baseMetricV3 %}
                            <td class="col-md-1 text-center"><span
                                    class="label {{ cvss_bg(cve.json.impact.baseMetricV3.cvssV3.baseScore)[2] }}">{{ cve.json.impact.baseMetricV3.cvssV3.baseScore }} {{ cve.json.impact.baseMetricV3.cvssV3.baseSeverity }}</span>
                            </td>
                            {% else %}
                            <td class="col-md-1 text-center"><span class="label label-default">N/A</span></td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="col-md-12 no-bordered" colspan="5">{{ cve.summary }}</td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="center">
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
            {% else %}
            <p class="alert alert-info">No CVE found.</p>
            {% endif %}
        </div>
    </div>

</section>
{% endblock %}
