{% extends "base.html" %}

{% block title %}{{ vendor | humanize  }} products - {{ super() }}{% endblock %}

{% block content %}

<section class="content-header">
    <h1>Products</h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.home') }}">OpenCVE</a></li>
        <li><a href="{{ url_for('main.vendors') }}">Vendors</a></li>
        <li class="active">Products (CPE)</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class='col-lg-7'>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ vendor }} products ({{ products.total }})</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped">
                        <tr>
                            <th>Product</th>
                            <th class="text-center">Actions</th>
                        </tr>
                        {% for product in products.items %}
                        <tr>
                            <td>{{ product.name | humanize }}</td>
                            <td class="text-center">
                                <div class="btn-group">
                                    {% if current_user.is_authenticated %}
                                    {% if product in current_user.products %}
                                    <button class="btn btn-danger btn-xs subscribe"
                                            id="unsubscribe_product_{{ product.id }}" type="button">Unsubscribe
                                    </button>
                                    {% else %}
                                    <button class="btn btn-default btn-xs subscribe"
                                            id="subscribe_product_{{ product.id }}" type="button">Subscribe
                                    </button>
                                    {% endif %}
                                    {% else %}
                                    <a class="btn btn-default btn-xs"
                                       href="{{ url_for('user.login', next=request.url) }}" data-toggle="tooltip"
                                       data-container="body" title="You must be signed in to subscribe">Subscribe</a>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>

                    <div class="center">
                        {{ pagination.links }}
                    </div>
                </div>
            </div>
        </div>

        <div class='col-lg-5'>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Search</h3>
                </div>
                <div class="box-body">
                    <form role="form" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-12">
                                <div class="input-group">
                  <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                  </span>
                                    <form method="GET">
                                        <input type="text" placeholder="Search" class="form-control" name="search"
                                               value="{% if request.args.get('search') %}{{ request.args.get('search') }}{% endif %}">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
