{% if "cvssMetricV31" in cve.json.metrics %}
{% set cvss = cve.json.metrics.cvssMetricV31.0 %}
{% else %}
{% set cvss = cve.json.metrics.cvssMetricV30.0 %}
{% endif %}
<div class="row">
    <div class="col-md-4">
        <div class="small-box {{ cvss_bg(cvss.cvssData.baseScore)[0] }}">
            <div class="inner">
                <h3>{{ cvss.cvssData.baseScore }}<sup style="font-size: 20px"> /10</sup></h3>
                <p>CVSS v3 : {{ cvss.cvssData.baseSeverity }}</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="https://www.first.org/cvss/specification-document" target="_blank" class="small-box-footer">
                V3 Legend <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>

        <p><strong>Vector :</strong> {{ cvss.cvssData.vectorString.split("0/")[1] }}</p>
        <p><strong>Exploitability :</strong> {{ cvss.exploitabilityScore }} / <strong>Impact
            :</strong> {{ cvss.impactScore }}</p>
    </div>

    <div class="col-md-4">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Vector
                        <span class="pull-right label {{ metric_bg('v3', 'AV', cvss.cvssData.attackVector) }}">{{ cvss.cvssData.attackVector }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Complexity
                        <span class="pull-right label {{ metric_bg('v3', 'AC', cvss.cvssData.attackComplexity) }}">{{ cvss.cvssData.attackComplexity }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Privileges Required
                        <span class="pull-right label {{ metric_bg('v3', 'PR', cvss.cvssData.privilegesRequired) }}">{{ cvss.cvssData.privilegesRequired }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        User Interaction
                        <span class="pull-right label {{ metric_bg('v3', 'UI', cvss.cvssData.userInteraction) }}">{{ cvss.cvssData.userInteraction }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Confidentiality Impact
                        <span class="pull-right label {{ metric_bg('v3', 'C', cvss.cvssData.confidentialityImpact) }}">{{ cvss.cvssData.confidentialityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Integrity Impact
                        <span class="pull-right label {{ metric_bg('v3', 'I', cvss.cvssData.integrityImpact) }}">{{ cvss.cvssData.integrityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Availability Impact
                        <span class="pull-right label {{ metric_bg('v3', 'A', cvss.cvssData.availabilityImpact) }}">{{ cvss.cvssData.availabilityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Scope
                        <span class="pull-right label {{ metric_bg('v3', 'S', cvss.cvssData.scope) }}">{{ cvss.cvssData.scope }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>