{% load opencve_extras %}
<div class="row">
    <div class="col-md-3">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Vector
                        <span class="pull-right label label-{% metric_label 'v3' 'attackVector' cvss.attackVector %}">{{ cvss.attackVector }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Complexity
                        <span class="pull-right label label-{% metric_label 'v3' 'attackComplexity' cvss.attackComplexity %}">{{ cvss.attackComplexity }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Privileges Required
                        <span class="pull-right label label-{% metric_label 'v3' 'privilegesRequired' cvss.privilegesRequired %}">{{ cvss.privilegesRequired }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Scope
                        <span class="pull-right label label-{% metric_label 'v3' 'scope' cvss.scope %}">{{ cvss.scope }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Confidentiality Impact
                        <span class="pull-right label label-{% metric_label 'v3' 'confidentialityImpact' cvss.confidentialityImpact %}">{{ cvss.confidentialityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Integrity Impact
                        <span class="pull-right label label-{% metric_label 'v3' 'integrityImpact' cvss.integrityImpact %}">{{ cvss.integrityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Availability Impact
                        <span class="pull-right label label-{% metric_label 'v3' 'availabilityImpact' cvss.availabilityImpact %}">{{ cvss.availabilityImpact }}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        User Interaction
                        <span class="pull-right label label-{% metric_label 'v3' 'userInteraction' cvss.userInteraction %}">{{ cvss.userInteraction }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <canvas class="cvss-radar" data-chart="{{ cvss|cvss_chart_data }}"></canvas>
    </div>
</div>