{% if event.details.removed or event.details.added %}
<tr>
    {% if not hide_type %}
    <td class="col-md-2">Nvd References</td>
    {% endif %}
    <td class="col-md-5 td-break">
        {% if event.details.removed %}
        <ul>{% for ref in event.details.removed %}
            <li><s[{{ ref.source }}] <a href="{{ ref.url }}" target="_blank">{{ ref.url }}</a>{% if ref.tags %} - {{ ref.tags|join:', ' }}{% endif %}</s></li>
            {% endfor %}
        </ul>
        {% endif %}
    </td>
    <td class="col-md-5 td-break">
        {% if event.details.added %}
        <ul>
            {% for ref in event.details.added %}
            <li>[{{ ref.source }}] <a href="{{ ref.url }}" target="_blank">{{ ref.url }}</a>{% if ref.tags %} - {{ ref.tags|join:', ' }}{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </td>
</tr>
{% endif %}

{% for ref in event.details.changed %}
<tr>
    {% if not hide_type %}
    <td class="col-md-2">Nvd References</td>
    {% endif %}
    <td class="col-md-5 td-break"><s>[{{ ref.old.source }}] <a href="{{ ref.old.url }}" target="_blank">{{ ref.old.url }}</a>{% if ref.old.tags %} - {{ ref.old.tags|join:', ' }}{% endif %}</s></td>
    <td class="col-md-5 td-break">[{{ ref.new.source }}] <a href="{{ ref.new.url }}" target="_blank">{{ ref.new.url }}</a>{% if ref.new.tags %} - {{ ref.new.tags|join:', ' }}{% endif %}</td>
</tr>
{% endfor %}