{% load opencve_extras %}
<div class="row">
    <div class="col-md-3">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Vector
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'AV' %}">{% metric_text_from_vector cvss.vector 'AV' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Complexity
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'AC' %}">{% metric_text_from_vector cvss.vector 'AC' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Privileges Required
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'PR' %}">{% metric_text_from_vector cvss.vector 'PR' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Attack Requirements
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'AT' %}">{% metric_text_from_vector cvss.vector 'AT' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        User Interaction
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'UI' %}">{% metric_text_from_vector cvss.vector 'UI' %}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Vulnerable System Confidentiality Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'VC' %}">{% metric_text_from_vector cvss.vector 'VC' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Vulnerable System Integrity Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'VI' %}">{% metric_text_from_vector cvss.vector 'VI' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Vulnerable System Availability Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'VA' %}">{% metric_text_from_vector cvss.vector 'VA' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Subsequent System Confidentiality Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'SC' %}">{% metric_text_from_vector cvss.vector 'SC' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Subsequent System Integrity Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'SI' %}">{% metric_text_from_vector cvss.vector 'SI' %}</span>
                    </h4>
                </div>
            </div>
        </div>
        <div class="panel-group panel-group-cvss">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Subsequent System Availability Impact
                        <span class="pull-right label label-{% metric_class_from_vector cvss.vector 'SA' %}">{% metric_text_from_vector cvss.vector 'SA' %}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <canvas class="cvss-radar" data-chart="{% cvss_chart_data cvss.vector cvss.score %}"></canvas>
    </div>
</div>
