<li class="item">
    <div class="row">
        <div class="col-md-8">
            <div>
                <a href="{% url 'cves' %}?q={{ view.query }}" class="product-title">{{ view.name }}</a>
                <span class="product-description">
                  {{ view.query }}
                </span>
              </div>
        </div>
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <a type="button" href="{% url 'cves' %}?q={{ view.query }}" class="btn btn-default"><i class="fa fa-play"></i></a>
                <a type="button" href="{% url 'update_view' org_name=request.current_organization view_id=view.id %}" class="btn btn-default"><i class="fa fa-edit"></i></a>
                <a type="button" href="{% url 'delete_view' org_name=request.current_organization view_id=view.id %}" class="btn btn-default"><i class="fa fa-trash"></i></a>
            </div>
        </div>
    </div>


</li>
