{% extends 'base_empty.html' %}
{% load static %}

{% block content %}
<div class="onboarding-wrapper">
    <div class="onboarding-content">

        <div class="onboarding-logo">
            <img width="150px" src="{% static 'img/logo_opencve.svg' %}" alt="Logo">
        </div>

        <hr />

        <div class="onboarding-description help-block text-center">
            <h1>404 Not Found</h1>
            <p>The page you are looking for does not exist or has been removed.</p>
        </div>

        <form action="{% url 'cves' %}" method="GET">
            <div class="form-group has-feedback has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input type="text" class="form-control" name="search" placeholder="Search in CVEs list">
            </div>
        </form>

        <br />

        <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-primary">Back to Homepage</a>
        </div>

    </div>
</div>
{% endblock %}
