<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}OpenCVE{% endblock %}</title>
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="csrf-token" content="{{ csrf_token }}">
        {% include 'styles.html' %}
    </head>
    <body class="hold-transition onboarding">
        {% block content %}{% endblock %}
        {% include 'scripts.html' %}
    </body>
</html>
