{% load static %}
<script type="text/javascript">
    const SUBSCRIBE_URL = "{% url 'subscribe' %}";
    const CHANGE_ORGANIZATION_URL = "{% url 'change_organization' %}";
    const SAVE_DASHBOARD_URL = "{% url 'save_dashboard' %}";
    const LOAD_DASHBOARD_URL = "{% url 'load_dashboard' %}";
    const LOAD_WIDGET_DATA_URL = "{% url 'load_widget_data' widget_id='$WIDGET_ID$' %}";
    const LOAD_WIDGET_CONFIG_URL = "{% url 'load_widget_config' widget_type='$WIDGET_TYPE$' %}";
    const RENDER_WIDGET_DATA_URL = "{% url 'render_widget_data' widget_type='$WIDGET_TYPE$' %}";
</script>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/adminlte.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.rainbowJSON.js' %}" type="text/javascript"></script>
<script src="{% static 'js/spectrum.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/chart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/gridstack-all.js' %}" type="text/javascript"></script>
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
