{% load static %}
<script type="text/javascript">
    const SUBSCRIBE_URL = "{% url 'subscribe' %}";
    const CHANGE_ORGANIZATION_URL = "{% url 'change_organization' %}";
</script>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/adminlte.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.rainbowJSON.js' %}" type="text/javascript"></script>
<script src="{% static 'js/spectrum.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/select2.full.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/chart.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/custom.js' %}" type="text/javascript"></script>
