{% extends 'users/settings/base_settings.html' %}
{% load crispy_forms_tags %}

{% block content_settings %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <!-- Generate new recovery codes -->
        <h3>Recovery Codes</h3>
        <div class="callout callout-error">
            <p>You are about to generate a new set of recovery codes for your account. This action will invalidate your existing codes. Are you sure?</p>
        </div>
        {% url 'mfa_generate_recovery_codes' as generate_url %}
        <form method="post" action="{{ generate_url }}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Regenerate recovery codes</button>
        </form>
    </div>
</div>
{% endblock %}
