{% extends 'users/settings/base_settings.html' %}
{% load crispy_forms_tags %}

{% block content_settings %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h3>Delete account</h3>
        <div class="callout callout-error">
            <p>This action can not be undone, your data will be removed and your username will be available for new users.</p>
        </div>
        <a href="{% url 'delete_account' %}" class="btn btn-danger">Delete Account</a>
    </div>
</div>
{% endblock %}
