{% extends 'users/settings/base_settings.html' %}
{% load crispy_forms_tags %}

{% block content_settings %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p>Do you really want to delete the <strong>{{ object }}</strong> tag ?</p>
        <form method="post">
            {% csrf_token %}
            <a href="{% url 'tags' %}" class="btn btn-default">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}
