{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Delete Project - {{ block.super }}{% endblock %}
{% block navbar_title %}Delete Project{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-md-offset-2">
        <div class="box box-primary">
          <div class="box-body">

            <p>Do you really want to delete the <strong>{{ object }}</strong> project ?</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'list_projects' org_name=request.user_organization.name %}" class="btn btn-default">Cancel</a>
                <input type="submit" class="btn btn-danger" value="Confirm">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
