{% extends "base.html" %}

{% block title %}Projects - {{ block.super }}{% endblock %}
{% block navbar_title%}Projects{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
            {% include "messages.html" %}

            <div class="callout callout-info">
                <p>Projects allow users to organize subscriptions and notifications. <a href="{% url 'create_project' org_name=request.user_organization.name %}">Create a new project?</a></p>
            </div>

            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-striped">
                        <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                        {% if projects %}
                        {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description|default:'' }}</td>
                            <td>{{ project.active|yesno }}</td>
                            <td class="pull-right">
                                <div class="btn-group" role="group">
                                    {% if project.active %}<a href="{% url 'project' org_name=request.user_organization.name project_name=project.name %}" class="btn btn-default btn-xs">View Project</a>{% endif %}
                                    <a href="{% url 'edit_project' org_name=request.user_organization.name project_name=project.name %}" class="btn btn-default btn-xs">Edit</a>
                                    <a href="{% url 'delete_project' org_name=request.user_organization.name project_name=project.name %}" class="btn btn-danger btn-xs" type="button">Delete</a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td colspan="3">No project yet.</td>
                        </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</section>

{% endblock %}
