{% extends 'projects/base_project.html' %}
{% load opencve_extras %}

{% block title %}Reports - {{ block.super }}{% endblock %}

{% block content_project %}

<div class="row">
    <div class="col-md-9">
        {% if reports %}
        <div class="box box-primary">
            <div class="box-body table-responsive no-padding">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-md-2">Date</th>
                            <th class="col-md-1">Frequency</th>
                            <th class="col-md-2">Automation</th>
                            <th class="col-md-6">CVE changed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for report in reports %}
                        <tr>
                            <td><a href="{% url 'report' org_name=request.current_organization.name project_name=project.name report_id=report.id %}">{{ report.day|date:"D d M Y" }}</a></td>
                            <td>{% if report.period_type == "daily" %}Daily{% else %}Weekly{% endif %}</td>
                            <td>{% if report.automation %}<a href="{% url 'automation_overview' org_name=request.current_organization.name project_name=project.name automation=report.automation.name %}">{{ report.automation.name }}</a>{% else %}-{% endif %}</td>
                            <td>
                                {% for change in report.changes.all|dictsortreversed:'cve.cve_id' %}
                                {% ifchanged %}
                                <a class="label label-primary" href="{% url 'cve' cve_id=change.cve.cve_id%}" data-toggle="tooltip" data-placement="right" data-container="body" title="{{ change.cve.vendors|flat_vendors }}">{{ change.cve.cve_id }}</a>
                                {% endifchanged %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="previous"><a href="{% url 'reports' org_name=request.current_organization.name project_name=project.name %}?{% query_params_url 'page' page_obj.previous_page_number %}">« prev </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="next"><a href="{% url 'reports' org_name=request.current_organization.name project_name=project.name %}?{% query_params_url 'page' page_obj.next_page_number %}">next »</a></li>
                {% endif %}
            </ul>
        </div>
        {% else %}
        <p class="alert alert-info">No report yet.</p>
        {% endif %}
    </div>

    <div class="col-md-3">
        <a href="{% url 'create_automation' org_name=request.current_organization.name project_name=project.name trigger_type='report' %}" class="btn btn-primary btn-block" style="margin-bottom: 15px;">
            <i class="fa fa-plus"></i> New Report Automation
        </a>
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Info</h3>
            </div>
            <div class="box-body">
                <p>Reports are generated by automations of type <strong>Report</strong>.<br /><br />Depending on the configured frequency (<strong>daily</strong> or <strong>weekly</strong>), modified CVEs are accumulated into the current report throughout the period. Once the period ends, a new report is automatically created for the next one.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
