{% extends 'users/settings/base_settings.html' %}
{% load crispy_forms_tags %}

{% block content_settings %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">        
        <!-- Deactivate 2FA account-->
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Two-Factor Authentication</h3>
            <div class="callout callout-error">
                <p>This action can not be undone, you will need to configure 2FA again to being protected.</p>
            </div>
            {% url 'mfa_deactivate_totp' as deactivate_url %}
            <form method="post" action="{{ deactivate_url }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete 2FA</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
