{% extends "base.html" %}
{% load static %}
{% load opencve_extras %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="nav-tabs-custom nav-tabs-profile nav-tabs-primary">
            <ul class="nav nav-tabs">
                <li class="{% is_active_link 'project' %}">
                    <a href="{% url 'project' name=project.name %}">Dashboard</a>
                </li>
                <li class="{% is_active_link 'reports' 'report' %}">
                    <a href="{% url 'reports' name=project.name %}">Reports</a>
                </li>
                <li class="{% is_active_link 'subscriptions' %}">
                    <a href="{% url 'subscriptions' name=project.name %}">Subscriptions</a>
                </li>
                <li class="{% is_active_link 'notifications' 'create_notification' 'edit_notification' %}">
                    <a href="{% url 'notifications' name=project.name %}">Notifications</a>
                </li>
                <li class="pull-right">
                    <a href="{% url 'edit_project' name=project.name %}" data-toggle="tooltip" data-container="body" data-placement="left" title="" data-original-title="{{ project.description }}">
                        <i class="fa fa-rocket"></i>
                        Project <strong>{{ project.name }}</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags}} alert-dismissible fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
            {% block content_project %}{% endblock %}
        </div>
    </div>
</section>

{% endblock %}
