{% extends 'projects/base_project.html' %}
{% load opencve_extras %}

{% block title %}{{ project.name }} > Report for {{ object.report.created_at|date:'M, d Y' }} - {{ block.super }}{% endblock %}
{% block navbar_title %}{{ project.name }} > Report for {{ object.report.created_at|date:'M, d Y' }}{% endblock %}

{% block content_project %}



<div class="row">
    <div class="col-md-12">
        <div class="tabs-vertical-env tabs-report">
            <ul class="nav tabs-vertical">
                {% for cve, dates in object.changes.items  %}
                <li class="{% if forloop.first %}active{% endif %}">
                    <a aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" data-toggle="tab"  href="#{{cve.cve_id}}">
                        {{cve.cve_id}}
                        {% if cve.nvd_json.metrics.cvssMetricV31 %}
                        <span class="label label-{{ cve.nvd_json.metrics.cvssMetricV31.0.cvssData.baseScore|cvss_level }}">{{ cve.nvd_json.metrics.cvssMetricV31.0.cvssData.baseScore }}</span>
                        {% else %}
                        <span class="label label-default">N/A</span>
                        {% endif %}
                    </a>
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content" style="width: 100%;">
                {% for cve, dates in object.changes.items %}
                <div id="{{cve.cve_id}}" class="tab-pane {% if forloop.first %}active{% endif %}">

                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="margin-top: 0px;">Summary</h3>
                            <div class="callout callout-info">
                                <p>{{ cve.summary }}</p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h3>Vendors & Products impacted</h3>
                            <div class="report-cve">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Vendors</th>
                                            <th>Products</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cve-header">
                                            <td class="col-md-6"><span class="badge badge-primary">1</span> <a href="/cve/?vendor=lightbend">Lightbend</a></td>
                                            <td class="col-md-6"><span class="badge badge-primary">2</span> <a href="/cve/?vendor=lightbend&amp;product=akka_actor">Akka Actor</a>, <a href="/cve/?vendor=lightbend&amp;product=akka_discovery">Akka Discovery</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <h3>History</h3>
                    {% for date, events in dates %}
                    <p class="report-change-title"><i class="fa fa-clock-o"></i> {{ date|date:"P" }}</p>
                    <table class="table table-bordered table-striped table-events">
                        <thead>
                            <th>Type</th>
                            <th>Values Removed</th>
                            <th>Values Added</th>
                        </thead>
                        <tbody>

                        {% for event in events %}
                            {% with template_name="changes/events/"|add:event.type|add:"_details.html" %}
                            {% include template_name %}
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}