{% extends 'projects/base_project.html' %}
{% load static %}

{% block title %}Views - {{ block.super }}{% endblock %}

{% block content_project %}

<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Views list</h3>
            </div>
            <div class="box-body">
                {% if views %}
                <ul class="products-list product-list-in-box">
                    {% for view in views %}
                        <li class="item">
                            {{ view.name }}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <p>You have no view yet.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Info</h3>
            </div>
            <div class="box-body">
                <p>The views are used blabla.</p>
            </div>
        </div>

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">New View</h3>
            </div>
            <div class="box-body">
                <a class="btn btn-block btn-social btn-default" href="{% url 'create_view' org_name=request.user_organization.name project_name=project.name %}?type=webhook"><i class="fa fa-plus"></i> Webhook</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
