<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}OpenCVE{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/AdminLTE.min.css' %}">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-box-body">
            <div class="login-logo">
                <a href="{% url 'home' %}">
                    <img width="250px" src="{% static 'img/logo_opencve.svg' %}" alt="Logo">
                </a>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags}}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
            {% endif %}
            <p class="login-box-msg"><strong>{% block header %}{% endblock %}</strong></p>
            {% block content %}{% endblock %}
            <p class="center">
                {% block links %}{% endblock %}
            </p>

        </div>
    </div>
</body>
</html>
