{% load opencve_extras %}
{% for product in products %}
<tr>
    <td>
        {{ product.name | humanize }}
        {% with vendor_product_key=product.vendor.name|stringformat:"s"|add:"$PRODUCT$"|add:product.name %}
            {% if vendor_product_key|is_top_vendor_or_product %}
                <i class="fa fa-exclamation-circle pointer" data-toggle="tooltip" title="Warning: This vendor/product is frequently associated with CVEs; you may receive numerous notifications."></i>
            {% endif %}
        {% endwith %}
    </td>
    <td>{{ product.vendor.name | humanize }}</td>
    <td class="text-center">
        <div class="btn-group">
            <a href="{% url 'subscribe' %}?vendor={{ product.vendor.name | urlencode }}&product={{ product.name | urlencode }}" class="btn btn-default btn-xs"><i class="fa fa-rocket"></i> Subscriptions</a>
            <a href="{% url 'cves' %}?vendor={{ product.vendor.name | urlencode }}&product={{ product.name | urlencode }}" class="btn btn-default btn-xs"><i class="fa fa-shield"></i> CVE</a>
        </div>
    </td>
</tr>
{% endfor %}
