<div class="box box-primary">
    <div class="box-body cve-section-nav-body">
        <div class="cve-section-nav-row">
            <nav class="cve-section-nav" aria-label="Page sections">
            <a href="#cve-overview" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Description &amp; summary">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
            </a>
            <a href="#cve-analysis" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Analysis">
                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
            </a>
            <a href="#cve-affected" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Affected products">
                <i class="fa fa-cubes" aria-hidden="true"></i>
            </a>
            <a href="#cve-remediation" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Remediation">
                <i class="fa fa-wrench" aria-hidden="true"></i>
            </a>
            <a href="#cve-tracking" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Tracking">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
            </a>
            <a href="#cve-advisories" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Advisories">
                <i class="fa fa-bullhorn" aria-hidden="true"></i>
            </a>
            <a href="#cve-metrics" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="Metrics">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
            </a>
            <a href="#cve-references" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="References">
                <i class="fa fa-link" aria-hidden="true"></i>
            </a>
            <a href="#cve-history" class="cve-section-nav-item" data-toggle="tooltip" data-container="body" title="History">
                <i class="fa fa-history" aria-hidden="true"></i>
            </a>
            </nav>
        </div>
    </div>
</div>
